(common) {
    tls {
        dns route53
    }

    handle /nothing {
        respond 200
    }

    @ungated {
      not expression `{cookie.caddy_gate} == {env.COOKIE_GATE_SECRET}`
    }

    respond @ungated 401
}

{$EXTERNAL_HOSTNAME}:1443 {
    import common
    reverse_proxy localhost:9090
}

{$EXTERNAL_HOSTNAME}:3443 {
    import common

    handle /static/agents/* {
        respond @ungated 401

        root * /srv/zeroclaw-agents
        uri strip_prefix /static/agents
        file_server browse
    }

    reverse_proxy localhost:42617
}
