[Unit]
Description=Weekly restic repository integrity check
Requires=restic-check.service

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
