[Unit]
Description=Periodic refresh of UPnP port forwards
Requires=upnp-port-forwards.service

[Timer]
OnBootSec=30sec
OnUnitActiveSec=1hr30min

[Install]
WantedBy=timers.target
