[Unit]
Description=Periodic refresh of UPnP SSH port forward
Requires=upnp-ssh-forward.service

[Timer]
OnBootSec=30sec
OnUnitActiveSec=1hr30min

[Install]
WantedBy=timers.target
