[Unit]
Description=Refresh UPnP port forwards
After=network-online.target
Wants=network-online.target
Wants=upnp-port-forwards.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/upnpc -a @ 122 122 TCP 7200
ExecStart=/usr/bin/upnpc -a @ 1443 1443 TCP 7200
ExecStart=/usr/bin/upnpc -a @ 2443 2443 TCP 7200
